*-loc.xml
*.ali
*.egg-info
*.o
*.pyc
.bin
.coverage
.coverage.*
.env
.hypothesis
.mypy_cache
.venv*
.vscode/configurationCache.log
/contrib
/devutils
/dist
/generated
/htmlcov
/pyproject.toml
/rflx/lang
\.*.swp
__pycache__
build
gnatinspect.db
why3session.xml.bak
why3shapes.gz.bak
/crashes
