*-loc.xml
*.ali
*.egg-info
*.o
*.pyc
.coverage
.coverage.*
.env
.hypothesis
.mypy_cache
.venv*
.vscode/configurationCache.log
/generated
\.*.swp
__pycache__
build
contrib
devutils
dist
gnatinspect.db
htmlcov
pyproject.toml
why3session.xml.bak
why3shapes.gz.bak
