[MESSAGES CONTROL]

# Enable/disable the message, report, category or checker with the given id(s).
enable=useless-suppression
disable=missing-docstring, bad-continuation, unnecessary-lambda

[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=log

# Regular expression matching correct argument names. Overrides argument-
# naming-style.
argument-rgx=[a-z_][a-z0-9_]{1,30}$

# Regular expression matching correct variable names. Overrides variable-
# naming-style
variable-rgx=[a-z0-9_]{1,30}$


[DESIGN]

# Maximum number of arguments for function / method
max-args=5

# Maximum number of attributes for a class (see R0902).
max-attributes=7

# Maximum number of boolean expressions in a if statement
max-bool-expr=5

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of parents for a class (see R0901).
max-parents=7

# Maximum number of public methods for a class (see R0904).
max-public-methods=20

# Maximum number of return / yield for function / method body
max-returns=10

# Maximum number of statements in function / method body
max-statements=50

# Minimum number of public methods for a class (see R0903).
min-public-methods=0


[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=12

# Ignore imports when computing similarities.
ignore-imports=yes
