# All SCM-managed files are automatically added to the sdist by setuptools_scm.
prune *
exclude .git* defaults* Makefile MANIFEST.in
graft bin
graft ide/gnatstudio
graft rflx
include generated/librflxlang.gpr
recursive-include generated/src *.ad? *.c *.h
recursive-include generated/gnatcoll-bindings/iconv *.ad? *.gpr *.c
recursive-include generated/gnatcoll-bindings/gmp *.ad? *.gpr *.c
recursive-include generated/adasat *.ad? *.gpr
recursive-include generated/python py.typed *.py *.pyi
recursive-include generated/langkit/langkit/support *.gpr *.ad?
global-exclude *.py[cod]
