[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
recordflux = {extras = ["devel"], file = ".", editable = true}
recordflux-devutils = {extras = ["devel"], file = "devutils"}

[dev-packages]

[requires]
