[submodule "contrib/gnatcoll-bindings"]
	path = contrib/gnatcoll-bindings
	url = https://github.com/AdaCore/gnatcoll-bindings
[submodule "tests/data/examples"]
	path = contrib/RecordFlux-specifications
	url = https://github.com/Componolit/RecordFlux-specifications.git
[submodule "contrib/langkit"]
	path = contrib/langkit
	url = https://github.com/AdaCore/langkit.git
[submodule ".config/python-style"]
	path = .config/python-style
	url = https://github.com/Componolit/python-style.git
